<footer class="text-lg-start">
    
  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="footer_div social">
      <a class="text-white social-icon fbk" href="https://www.sgb.gov.br/" target="_blank">
        <img src="assets/dspace/images/footer/footer_logocprm.png" [attr.alt]="'menu.footer.image.sgb' | translate" />
      </a>
      <a class="text-white social-icon" href="https://www.gov.br/mme/pt-br" target="_blank">
        <img src="assets/dspace/images/footer/footer_mme.png" [attr.alt]="'menu.footer.image.mme' | translate" />
      </a>
      <a class="text-white social-icon" href="https://www.gov.br/pt-br" target="_blank">
        <img src="assets/dspace/images/footer/footer_govfed.png" [attr.alt]="'menu.footer.image.govfed' | translate" />
      </a>

    </div>
  </div>
  <!-- Copyright -->
</footer>
