<div class="container w-100 h-100">
            <p class="texto h2">{{"sobre.titulo" | translate}}</p>
            <br />
            <p class="texto h4 font-weight-normal">{{"sobre.info1" | translate}}</p>
            <p class="texto h4 font-weight-normal">{{"sobre.info2" | translate}}</p>
            <br />
            <p class="texto h4 font-weight-normal"><span>{{"sobre.contato" | translate}}</span>
            <br />
            <a href="mailto:rigeo@sgb.gov.br" class="texto h4 font-weight-normal">rigeo@sgb.gov.br</a></p>
</div>
