.toplevelcomm{
    display: block;
    clear: both;
    float: left;
}

.archived-items-lead {
    margin-left: 40%;
}

.imagem{
    max-height: 240px;
    margin-left:80px;
}

.nomecom{
    margin-left: 17%;
    display: block;
}